.input {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btn {
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
}

.link_reg {
    text-decoration: none;
    color: black;
}

.link_reg:hover{
    text-decoration: underline;
}